
*.csv

*.xlsx

*.tsv

*.pyc

*.env

myenv/

.DS_Store

__pycache__/
.ipynb_checkpoints/
.tox/
.nox/
.coverage
.nox
.coverage.*
.cache
nosetests.xml
coverage.xml
*.egg
.local
.dist
.build
eggs/
.installed.cfg
*.egg-info/
django.po
*.mo
*.pot
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
instance
.mypy_cache
.pytest_cache
